In [1]:
# Import Libraries
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [2]:
# URL and API key
base_url = "https://www.alphavantage.co/query"
key = # ENTER KEY HERE

In [3]:
# requesting time series data
res = requests.get(
base_url,
params = {
    'function': 'time_series_daily',
    'symbol': "TSLA",
    'apikey': key
}
)
data = res.json()
TSLA = pd.DataFrame(data['Time Series (Daily)']).T

In [4]:
TSLA.head()

             1. open   2. high    3. low  4. close 5. volume
2020-03-18  389.0000  404.8600  378.2400  387.3200  10014454
2020-03-17  440.0100  471.8500  396.0000  430.2000  23822559
2020-03-16  469.4997  494.8699  442.1700  445.0700  20489464
2020-03-13  595.0000  607.5700  502.0000  546.6200  22640254
2020-03-12  580.8900  594.5000  546.2500  560.5500  18909052

In [9]:
TSLA['date'] = TSLA.index

In [10]:
TSLA.to_csv("./CSVs/TSLA_03182020", index = False)